KERL_CONFIGURE_OPTIONS="--without-javac --enable-shared-zlib --enable-dynamic-ssl-lib --enable-hipe --enable-smp-support --enable-threads --enable-kernel-poll {% if is_workstation is defined %} --with-wx{% endif %}"
